.burgerMenu {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 30px;
    border-bottom: 1px solid black;
}

.navbar li {
    margin-right: 10px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: large;
    text-transform: uppercase;
}

.navbar li a {
    text-decoration: none;
}

.navbar.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
}

.boutonDeconnexion{
    background: #033e9e;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1rem;
}

.boutonDeconnexion:hover {
    background: white;
    color: #033e9e;
    border: 1px solid #033e9e;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }

    .burgerMenu {
        display: block;
        cursor: pointer;
    }
}