.commentaire {
    margin-top: 2rem;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    padding: 1rem;
}

.submitCommentaire {
    background: #03989E;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1rem;
}

.submitCommentaire:hover {
    background: white;
    color: #03989E;
    border: 1px solid #03989E;
}